<head>
  <!-- Google tag (gtag.js) -->
  <link rel="preconnect" href="https://www.googletagmanager.com" />
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-6H7DG05B2H"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-6H7DG05B2H");
  </script>

  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />

  {% seo title=false %}

  <title>
    {% if page.tag or page.title %} {% if page.tag %} {{ page.tag | escape }} {%
    else %} {{ page.title | escape }} {% endif %} - {% endif %} {% if paginator
    and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
    Page {{ paginator.page }} of {{ paginator.total_pages }} - {% endif %} {{
    site.title | escape }} {% unless page.tag or page.title %} - {{
    site.description | escape }} {% endunless %}
  </title>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ site.baseurl }}/atom.xml"
  />
  <link rel="alternate" type="application/json" title="{{ site.title }}"
  href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link
    rel="sitemap"
    type="application/xml"
    title="sitemap"
    href="{{ site.baseurl }}/sitemap.xml"
  />

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>

  <link href="/assets/css/syntax.min.css" rel="stylesheet" />

  <link rel="manifest" href="/manifest.json" />
  <meta name="theme-color" content="#070707" />

  <script src="/assets/js/mobile.min.js" type="text/javascript"></script>
</head>
